[submodule "modules/editor"]
	path = modules/editor
	url = https://github.com/gregorydlogan/editor
	branch = develop
[submodule "modules/studio"]
	path = modules/studio
	url = https://github.com/gregorydlogan/studio
	branch = develop
[submodule "modules/admin"]
	path = modules/admin
	url = https://github.com/gregorydlogan/admin-interface
	branch = develop
